@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-light-gray: #cccccc;
  --color-medium-gray: #999999;
  --color-dark-gray: #666666;
  --color-like-gray: #1c2526;
  --color-vanilla-cream: #f9f8f6;
}

.summary h2{
  font-size:large;
  font-weight: 700;
}

.summary h3{
  font-size:medium;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.no-select {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.shake-animation {
  animation: shake 0.5s;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 0.3);
  transition: all 200ms ease-in-out;
}

.frosted-glass:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);
}

.frosted-glass:active {
  animation: press 150ms ease-in-out;
}

@keyframes press {
  0% {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.15);
  }
  50% {
    transform: scale(0.98);
    background: rgba(109, 130, 153, 0.3); /* Slate blue with opacity */
  }
  100% {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for Webkit-based browsers (Chrome, Safari) */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes expand {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

/* Custom class for the modal with animation */
.modal-animate {
  animation: expand 0.3s ease-in-out;
}

.modal-closing {
  animation: disappear 0.3s ease-in-out;
}

/* Custom backdrop with blur */
.custom-backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
}

::selection {
  background-color: #cecdcc; /* your desired highlight color */
  color: #666666; /* text color inside selection */
}
