@import "tailwindcss";
@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-md: 800px;
  --color-light-gray: #cccccc;
  --color-medium-gray: #999999;
  --color-dark-gray: #666666;
  --color-like-gray: #1C2526;
}
* {
  box-sizing: border-box;
}
